{% extends 'main.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block body %}

        {% if messages %}
            {% if request.resolver_match.url_name in "login register home" %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}


    <!-- Banner section -->
    <section id="home" class="banner_wrapper p-0">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('{% static 'images/slider1.jpg' %}');">
                    <div class="slide-caption text-center">
                        <div>
                            <h1>Forget to book the Hotel, Boss?</h1>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" style="background-image: url('{% static 'images/slider2.jpg' %}');">
                    <div class="slide-caption text-center">
                        <div>
                            <h1>Book Now..</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="container booking-area">
            <form class="row">
                <div class="col-lg mb-3 mb-lg-0">
                    <input type="date" class="form-control" placeholder="Date">
                </div>
                <div class="col-lg mb-3 mb-lg-0">
                    <input type="date" class="form-control" placeholder="Date">
                </div>
                <div class="col-lg mb-3 mb-lg-0">
                    <select class="form-select">
                        <option selected>Adults</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
                <div class="col-lg mb-3 mb-lg-0">
                    <select class="form-select">
                        <option selected>Children</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
                <div class="col-lg mb-3 mb-lg-0">
                    <button type="submit" class="main-btn rounded-2 px-lg-3">Check Availability</button>
                </div>
            </form>
        </div>
    </section>

<!--    {% for message in messages %}-->
<!--        <script>alert("{{ message }}");</script>-->
<!--    {% endfor %}-->

    <!-- Banner section exit -->
    <!-- About section -->
    <section id="about" class="about_wrapper" >
        <div class="container">
            <div class="row flex-lg-row flex-column-reverse ">
                <div class="col-lg-6 text-center text-lg-start">
                    <h3>Welcome to <span>Hotels <br class="d-none d-lg-block">
                            </span> of your weekend</h3>
                    <p>lorum luptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                        dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
                        quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius</p>
                    <p>lorum luptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                        dolores eos qui ratione voluptatem</p>
                    <a href="#" class="main-btn mt-4">Explore</a>
                </div>
                <div class="col-lg-6 mb-4 mb-lg-0 ps-lg-4 text-center">
                    <img decoding="async" src="{% static 'images/BC_Images.png' %}" class="img-fluid" alt="About Us">
                </div>

            </div>
        </div>
    </section>
    <!-- About section exit -->
{% endblock %}
